version: '3.8'

services:

  # ---------------------------
  # Zookeeper
  # ---------------------------
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
    networks:
      - elk-network

  # ---------------------------
  # Kafka
  # ---------------------------
  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper
    networks:
      - elk-network

  # ---------------------------
  # Discovery Server (Eureka)
  # ---------------------------
  discovery-server:
    build: ./discovery-server
    ports:
      - "8761:8761"
    depends_on:
      - kafka
    networks:
      - elk-network

  # ---------------------------
  # NFL Team Service
  # ---------------------------
  nfl-team-service:
    build: ./nfl-team-service
    ports:
      - "8082:8082"
    depends_on:
      - discovery-server
      - kafka
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka
    networks:
      - elk-network

  # ---------------------------
  # API Gateway
  # ---------------------------
  nfl-api-gateway:
    build: ./nfl-api-gateway
    ports:
      - "8081:8081"
    depends_on:
      - discovery-server
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka
    networks:
      - elk-network

  # =============================
  # ELASTICSEARCH
  # =============================
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    networks:
      - elk-network

  # =============================
  # LOGSTASH
  # =============================
  logstash:
    image: docker.elastic.co/logstash/logstash:8.12.0
    container_name: logstash
    volumes:
      - ./elk/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    ports:
      - "5000:5000"
    depends_on:
      - elasticsearch
    networks:
      - elk-network

  # =============================
  # KIBANA
  # =============================
  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - elk-network

networks:
  elk-network:
    driver: bridge
